<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta description="Web Development portfolio for Cody Smith Cincinnati." />

    <meta name="description" content="For the best commercial or residential pressure washing services, choose GetTechs Pressure Washing. Call 888-203-7294 for more information or a free quote!">
    <meta name="keywords" content="pressure washing services, power washing services, driveway pressure washer, commercial pressure washing, residential pressure washing">
    <meta name="robots" content="all, index, follow">
    <meta name="googlebot" content="index, follow">
    <title>Pressure Washing | Pressure Washing Services | GetTechs.com</title>

    <link rel="stylesheet" href="{{root}}assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

		<link href="https://fonts.googleapis.com/css?family=Lobster|Montserrat|Raleway" rel="stylesheet">
  </head>
  <body class="portfolio">
    {{>header}}
    {{> body}}
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
